.content {
  padding-bottom: 25px;
}

.introduction{
  margin-bottom: 50px;
}

.question-title {
  font-weight: bold;
}

.exercise-title {
  font-weight: bold;
  font-size: 1.5em;
}

.exercise {
  padding: 20px;
  /* border: 1px solid #ddd; */
  margin-bottom: 35px;
}

.exercise .desc {
  margin-bottom: 20px;
}

.exercise .input, .exercise .data {
  display: inline-block;
  width: 45%;
  vertical-align: top;
}

.exercise .data img {
  margin: 0 auto;
  display: block;
}

#educationfield, #programminglevel, #programminglanguages {
  display: none;
}


.choice label { 
  margin-bottom: 0 !important;
} 

.answer {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.easy {
  
}

.spacer {
  display: inline-block;
  width: 10px;
}

.image {
  display: inline-block;
  max-width: 40%;
  vertical-align: middle;
}

.image img {
  display: block;
  margin-left: 35px;
  /*margin-top: 50px;*/
  /*max-width: 100%;*/
}

#texteditorcontainer{
  border:1px solid #ddd;
  cursor: text;
}

.elaborate{
  margin-top:25px;
}

.more{
  width: 500px;
  height: 200px;
}

.img img {
/*  max-width: 400px;
  max-height: 400px;*/
  display: block;
  margin: 0 auto;
  padding:15px;
}

.choice {
  padding: 5px;
  border: 1px solid #ccc;
  margin: 4px 0;
}

.choice div {
  display: inline-block;
  vertical-align: middle;
}

.choice .radio-choice {
  width: 50px;
  text-align: center;
}

.choice .radio-choice input {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.choice label .img img {
  cursor: pointer;
}

.error{
  border: 1px solid #a94442 !important;
  border-radius: 4px;
  padding: 6px 12px;
}

.crowdflower {
  background: #f9f9f9;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 15px 0;
}

.crowdflower span {
  font-weight: bold;
}
