<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Markup language survey</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap cdn -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />

    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/js/questionaire.js"></script>

    <!-- js text editor -->
    <link rel="stylesheet" href="/css/codemirror.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.6.0/codemirror.min.js"></script>
    <script>
      window.onload = function () {
        var myTextarea = document.getElementById("texteditor");
        var editor;

        if(myTextarea){
          var readOnly = $(myTextarea).hasClass("read-only");

          editor = CodeMirror.fromTextArea(myTextarea, {
            lineNumbers: true,
            lineWrapping: true,
            mode: "text/html",
            readOnly: readOnly,
            indentUnit: 2,
            tabSize: 2,
            indentWithTabs: true,
            autofocus: !readOnly
          });
        }


        $("img").each(function(){
          //this.width/=2;this.onload=null;
          var w = $(this).width();
          $(this).width(w/3);
        });

        // check fields before submitting
        $(".submit").click(function(e){
          e.preventDefault();
          var error = false;

          // check all input text fields
          $("input[type=text]").each(function(){
            var text = $(this).val();
            if(text == ""){
              error = true;
              $(this).parent().addClass("has-error");
              return false;
            }
            $(this).parent().removeClass("has-error");
          });

          // check text editor
          if(editor){
            if(editor.getValue() == ""){
              $("#texteditorcontainer").addClass("error");
            } else {
              $("#texteditorcontainer").removeClass("error");
              // put value into textarea
              $("#texteditor").text(editor.getValue());
            }
          }

          // check elaboration
          $("#more").each(function(){
            var text = $(this).val();
            if(text == ""){
              error = true;
              $(this).parent().addClass("has-error");
              return false;
            }
            $(this).parent().removeClass("has-error");
          });

          // check radios
          var choices = $('input[name=choice]');
          if(choices.length != 0){
            var val = $('input[name=choice]:checked').val();
            if(typeof val == 'undefined'){
              error = true;
              $(".choice").addClass("error");
            } else {
              $(".choice").removeClass("error");  
            }
          }

          // submit form if no errors exist
          if(!error){
            $("form").submit();
          }
        });

        // It works without the History API, but will clutter up the history
        var history_api = typeof history.pushState !== 'undefined'

        // The previous page asks that it not be returned to
        if ( location.hash == '#no-back' ) {
          // Push "#no-back" onto the history, making it the most recent "page"
          if ( history_api ) history.pushState(null, '', '#stay')
          else location.hash = '#stay'

          // When the back button is pressed, it will harmlessly change the url
          // hash from "#stay" to "#no-back", which triggers this function
          window.onhashchange = function() {
            // User tried to go back; warn user, rinse and repeat
            if ( location.hash == '#no-back' ) {
              //alert("You shall not pass!")
              if ( history_api ) history.pushState(null, '', '#stay')
              else location.hash = '#stay'
            }
          }
        }
      };
    </script>

    <link href="/css/style.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Markup language survey</a>
        </div>
      </div>
    </div>

    <div class="container content">
      {% block content %} {% endblock %}
    </div>
  </body>
</html>
