<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap cdn -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />

    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/js/questionaire.js"></script>

    <!-- js text editor -->
    <link rel="stylesheet" href="/css/codemirror.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.6.0/codemirror.min.js"></script>
    <script>
      window.onload = function () {
        var myTextarea = document.getElementById("texteditor");
        if(myTextarea){
          var editor = CodeMirror.fromTextArea(myTextarea, {
            lineNumbers: true,
            lineWrapping: true,
            mode: "text/html",

            indentUnit: 2,
            tabSize: 2,
            indentWithTabs: true,
            autofocus: true
          });
        }


        $("img").each(function(){
          //this.width/=2;this.onload=null;
          var w = $(this).width();
          $(this).width(w/3);
        });
      };
    </script>

    <link href="/css/style.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">PLSurvey</a>
        </div>
      </div>
    </div>

    <div class="container content">
      {% block content %} {% endblock %}
    </div>
  </body>
</html>
