<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap cdn -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />

    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="js/questionaire.js"></script>

    <link href="/css/style.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">PLSurvey</a>
        </div>
      </div>
    </div>

    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </body>
</html>
