{% extends "base.html" %}
{% block content %}
<form class="form-group" role="form" action="/exercise/{{num}}" method="post">
    <div class="form-group">

        <p>
        Opgave type beskrivelse!
        </p>

        {% for exercise in exercises %}
        <p>bla bla</p>
        
        {% endfor %}

        
        <div id="texteditorcontainer">
            <textarea id="texteditor"></textarea>
        </div>

        <!-- we want elaboration for every non-easy exercise -->
        <label for="more">Please provide a short explanation for your answer</label><br />
        <textarea name="more" id="more" class="more"></textarea>
    
    </div>

    <!-- hidden fields -->
    <input type="hidden" name="survey_id" value="{{survey_id}}" />
    <input type="hidden" name="type" value="{{type}}" />
    <input type="hidden" name="ex_id" value="{{ex_id}}" />
    <input type="hidden" name="history" value="{{history}}" />
    <button type="submit" class="btn btn-default">{{submit}}</button>
  </form>
{% endblock %}
