{% extends "base.html" %}
{% block content %}
  <form role="form" action="#no-back" method="post">
<!--     <p>
    {{ exercise['id'] }}
    </p> -->

    <div class="exercise">
    {% if exercise['type'] == "1" %}
      <div class="desc">
        <strong>Exercise</strong><br />
        {{ exercise['text'] }}
      </div>
      <div class="answer">
        <div id="texteditorcontainer">
            <textarea id="answer" name="answer"></textarea>
        </div>
      </div><div class="spacer"></div><div class="image"><img src="/{{exercise['img']}}" /></div>
      
    {% else %}
    <div class="img"><img src="/{{exercise['img']}}" /></div>
    <strong>Exercise</strong><br />
    <div class="desc">{{ exercise['text'] }}</div>
    <div class="choices">
      {% for choice in exercise['choices'] %}
      <div class="choice">
        <label>
          <div class="radio-choice">
            <input type="radio" name="choice" value="{{choice['value']}}" />
          </div>
          <div class="img"><img src="/{{choice['img']}}" /></div>
        </label>
      </div>
      {% endfor %}
    </div>
    {% endif %}
      
      <!-- we want elaboration for every non-easy exercise -->
      <div class="elaborate">
        <label for="more">Please provide a short explanation for your answer</label><br />
        <textarea name="more" id="more" class="form-control more" rows="8"></textarea>
      </div>
    </div>


    <div class="form-group easy">
      <label for="easy">{{ exercise['easy'] }}</label>
      <input type="text" class="form-control" id="easy" name="easy" />
    </div>
    

    <!-- hidden fields -->
    <input type="hidden" name="survey_id" value="{{survey_id}}" />
    <input type="hidden" name="type" value="{{type}}" />
    <input type="hidden" name="ex_id" value="{{ex_id}}" />
    <!-- <input type="hidden" name="history" value="{{history}}" /> -->
    <input type="hidden" name="exercises" value="{{exercises}}" />
    <button type="submit" class="btn btn-default submit">{{submit}}</button>
  </form>
{% endblock %}
