{% extends "base.html" %}
{% block content %}
<form role="form" action="/finish/{{ survey_id }}#no-back" method="post">
    <p>
      <!-- introduction -->
      <div class="introduction">
        <h2>Thank you!</h2>
        <p>Thank you for participating in this survey</p>

        {% if crowdflower %}
        <div class="crowdflower">
          <p>Please copy the crowdflower code below and submit it in the form at crowdflower, in order to get paid</p>
          <div>Crowdflower code: <span>{{ crowdflower }}</span></div>
        </div>
        {% endif %}

    {% if not feedback %}
        <p>If you want to provide any general feedback about the survey please write it in the field below</p>

        <div class="elaborate">
          <label for="feedback">Feedback!</label><br />
          <textarea id="feedback" name="feedback" class="form-control more" rows="8"></textarea>
        </div>
    {% endif %}
      </div>

    </p>
    <!-- hidden fields -->
    {% if not feedback %}
      <button type="submit" class="btn btn-default">Send feedback</button>
    {% endif %}
  </form>
{% endblock %}
