{% extends "base.html" %}
{% block content %}
<form role="form" action="/{{type}}" method="post">
    <p>
      <div class="form-group">
        <label for="age">How old are you?</label>
        <input type="text" class="form-control" name="age" id="age" placeholder="Enter your age" />
      </div>

      <div class="form-group">
        <div class="question-title">What is your gender?</div>
        <label class="radio-inline">
          <input type="radio" name="gender" id="inlineRadio1" value="male" /> Male
        </label>
        <label class="radio-inline">
          <input type="radio" name="gender" id="inlineRadio2" value="female" /> Female
        </label>
      </div>

      <div class="form-group">
        <div class="question-title">What is your nationality?</div>
        <select name="nations[]" id="nations" class="form-control">
          <option value="0">Please choose</option>
        {% for nation in nations %}
          <option value="{{ nation }}">{{ nation.capitalize() }}</option>
        {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <div class="question-title">What is the highest degree or level of school you have completed?</div>
        <label class="radio-inline">
          <input type="radio" name="education" value="1" /> Elementary/middle school
        </label>
        <br />
        <label class="radio-inline">
          <input type="radio" name="education" value="2" /> High School
        </label>
        <br />
        <label class="radio-inline">
          <input type="radio" name="education" value="3" /> Bachelor's Degree
        </label>
        <br />
        <label class="radio-inline">
          <input type="radio" name="education" value="4" /> Master's Degree
        </label>
        <br />
        <label class="radio-inline">
          <input type="radio" name="education" value="5" /> Doctoral Degree
        </label>
      </div>

      <div class="form-group" id="educationfield">
        <div class="question-title">In which field?</div>

        <label class="radio-inline">
          <input type="radio" name="education2" value="humanities" /> Humanities
        </label>
        <br />
        <label class="radio-inline">
          <input type="radio" name="education2" value="naturalsciences" /> Natural Sciences
        </label>
        <br />
        <label class="radio-inline">
          <input type="radio" name="education2" value="engineering" /> Engineering
        </label>
        <br />
        <label class="radio-inline">
          <input type="radio" name="education2" value="socialsciences" /> Social Sciences
        </label>
        <br />
        <label class="radio-inline">
          <input type="radio" name="education2" value="economics" /> Economics
        </label>
        <br />
        <label class="radio-inline">
          <input type="radio" name="education2" value="arts" /> Arts
        </label>
        <br />
        <label class="radio-inline">
          <input type="radio" name="education2" value="arts" />
          <input type="text" class="form-control" name="education2" id="othereducation" placeholder="Other" />
        </label>

      </div>
      <div class="form-group">
        <div class="question-title">Do you have any experience with computer programming/markup?</div>
        <label class="radio-inline">
          <input type="radio" name="programming" value="yes" /> Yes
        </label>
        <label class="radio-inline">
          <input type="radio" name="programming" value="no" /> No
        </label>
      </div>

      <div class="form-group" id="programminglevel">
        <div class="question-title">Please indicate your programming level of proficiency</div>
        <div>1 meaning little experience, 6 meaning professional experience.</div>
        <label class="radio-inline">
          <input type="radio" name="programmingex" value="1" /> 1
        </label>
        <label class="radio-inline">
          <input type="radio" name="programmingex" value="2" /> 2
        </label>
        <label class="radio-inline">
          <input type="radio" name="programmingex" value="3" /> 3
        </label>
        <label class="radio-inline">
          <input type="radio" name="programmingex" value="4" /> 4
        </label>
        <label class="radio-inline">
          <input type="radio" name="programmingex" value="5" /> 5
        </label>
        <label class="radio-inline">
          <input type="radio" name="programmingex" value="6" /> 6
        </label>
      </div>

      <div class="form-group" id="programminglanguages">
        <div class="question-title">Please indicate which programming/markup languages you have experience using.</div>
        <label class="checkbox-inline">
          <input type="checkbox" name="programminglang" value="java" /> Java
        </label>
        <br />
        <label class="checkbox-inline">
          <input type="checkbox" name="programminglang" value="python" /> Python
        </label>
        <br />
        <label class="checkbox-inline">
          <input type="checkbox" name="programminglang" value="c" /> C / C# / C++ / Obj-C
        </label>
        <br />
        <label class="checkbox-inline">
          <input type="checkbox" name="programminglang" value="functional" /> Haskell / Erlang / OCaml / SML
        </label>
        <br />
        <label class="checkbox-inline">
          <input type="checkbox" name="programminglang" value="js" /> JavaScript
        </label>
        <br />
        <label class="checkbox-inline">
          <input type="checkbox" name="programminglang" value="html" /> HTML
        </label>
        <br />
        <label class="checkbox-inline">
          <input type="checkbox" name="programminglang" value="tex" /> TeX / LaTeX
        </label>
        <br />
        <label class="checkbox-inline">
          <input type="checkbox" name="programminglang" value="md" /> Markdown
        </label>
        <br />
        <label class="checkbox-inline">
          <input type="checkbox" name="programminglang" value="other" />
          <input type="text" class="form-control" name="programminglang" id="otherprogramminglanguage" placeholder="Other" />
        </label>
      </div>


      <!-- <div class="exercise-title">Exercise 1 - Tables</div> -->
      <!-- Define a notation for the table shown on the right. -->
      <!-- <div class="exercise"> -->
      <!--   <div class="input"> -->
<!-- <textarea class="form-control" rows="20" name="exercise1"> -->
<!-- Tables -->

<!-- # define your table here -->
<!-- </textarea> -->
      <!--   </div> -->
      <!--   <div class="data"> -->
      <!--     <img src="/img/tables.png"></img> -->
      <!--   </div> -->
      <!-- </div> -->
    </p>
    <!-- hidden fields -->
    <input type="hidden" name="start_time" value="{{start_time}}" />
    <input type="hidden" name="referer" value="{{referer}}" />
    <input type="hidden" name="ref_id" value="{{ref_id}}" />
    <button type="submit" class="btn btn-default">Continue</button>
  </form>
{% endblock %}
