{% extends "base.html" %}
{% block content %}
  <form role="form" action="answer" method="post">
    <p>

      <div class="exercise-title">Exercise Type 4 - Timer</div>
      Please try to enter the text on right into the textarea on the left, using only plain-text.
      The timer will start when you focus the textarea.<br />
      Time spent: <span id="timer">0</span> seconds
      <div class="exercise">
        <div class="input">
          <textarea class="form-control" rows="20" name="exercise1" id="timerarea"></textarea>
        </div>
        <div class="data">
          <img src="/img/tables.png"></img>
        </div>
      </div>
    </p>
    <!-- hidden fields -->
    <input type="hidden" name="start_time" value="{{start_time}}" />
    <input type="hidden" name="referer" value="{{referer}}" />
    <button type="submit" class="btn btn-default" id="submit">Next</button>
  </form>
{% endblock %}
